<%= form_for(@ring) do |f| %>
  <% if @ring.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@ring.errors.count, "error") %> prohibited
    	this ring from being saved:</h2>
	<ul>
	<% @ring.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
	<% end %>
	</ul>
  </div>
  <% end %>
 
  <div class="field">
	<%= f.label :name %><br />
	<%= f.text_field :name %>
	<%= f.label :latitude %>
	<%= f.text_field :latitude, :disabled => true%>
	<%= f.label :longitude %>
	<%= f.text_field :longitude, :disabled => true%>
  </div>
  <div class="field">
	<%= f.fields_for :categories do |builder| %>
	  <%= builder.label :name, "Category" %><br />
	  <%= builder.text_field :name %>
	<% end %>
  </div>
	
  <div class="actions">
	<%= f.submit %>
  </div>
<% end %>