<% content_for :javascripts do %>
   <%= javascript_include_tag "geolocation" %>
<% end %>

<h1>Rings</h1>
 
<table>
  <tr>
    <th>Name</th>
  </tr>
<% @inrings.each do |ring| %>
  <tr>
    <td><%= link_to ring.name, ring %></td>
	<td><%= ring.latitude %></td>
	<td><%= ring.longitude %></td>
    <% if can? :update, @ring %>
	<td><%= link_to "Edit", edit_ring_path(ring) %>
	<td><%= link_to "Destroy", @ring, :method => :delete, :confirm => "Are you sure?" %>
	<% end %>   
  </tr>
<% end %>
</table>
<br />

<br />
 
<%= link_to 'Create a Ring', new_ring_path %>

<br />










