<h1>Rings</h1>
 
<table>
  <tr>
    <th>Name</th>
  </tr>
<% @rings.each do |ring| %>
  <tr>
    <td><%= ring.name %></td>
    <td><%= link_to 'View', ring %></td>
  </tr>
<% end %>
</table>
 
<br />
<br />
 
<%= link_to 'Create Ring', new_ring_path %>

<br />
<br />

<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>  
  </li>
<% end %>
