<%= link_to 'Ringtack', rings_path %>

<p id="notice"><%= notice %></p>
 
<h1>
  <b>Ring:</b>
  <%= @ring.name %>
</h1>
 
<h3>Posts</h3>

<% @ring.posts.each do |post| %>
  <p>
	<b><%= post.content %></b>
  </p>
  <p>
    Posted by: <b><%= post.user.name %></b>
  </p>
<% end %>

<%= form_for([@ring, @ring.posts.build]) do |f| %>
  <div class="field">
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit "Post" %>
  </div>
<% end %>
 

