<p id="notice"><%= notice %></p>
 
<h1>
  <b>Ring: <%= @ring.name %></b>
</h1>
 <h2>Size: <%= @ring.size %> miles</h2>
 <h2>Category: <%= @ring.categories.first.name %></h2>
  <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@ring.latitude}%2C#{@ring.longitude}"%>
 <h3>Posts</h3>

<% @ring.posts.each do |post| %>
  <div class ="well">
	<b><%= post.content %></b>
  <h5><br />
    Posted by: <b><%= post.user.name %></b>
  </h5>
  </div>
<% end %>

<%= form_for([@ring, @ring.posts.build]) do |f| %>
  <div class="textarea">
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit "Post" %>
  </div>
<% end %>
 

